<nav class="navbar sticky-top navbar-expand-lg bg-info mb-4">
    <div class="container-fluid">
      <h2 class="navbar-brand text-success fs-3">GOFAR Manager</h2>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active fs-4" aria-current="page" routerLink="users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled"></a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" [(ngModel)]="searchInput" (keyup)="search($event)" type="search" placeholder="Search" aria-label="Search" >
          <button class="btn btn-outline-success" type="submit" >Search</button>
        </form>
      </div>
    </div>
  </nav>