<div class="container-fluid mt-5 pt-5 px-5">
    <form>
        <div class="mt-3 mb-3 row">
            <label for="fname" class="col-form-label col-sm-2">Id:</label>
            <div class="col-sm-10">
                <input type="text" id="fname" class="form-control" value="{{user.id}}" disabled readonly>
            </div>
        </div>
        <div class="mt-3 mb-3 row">
            <label for="fname" class="form-label col-sm-2">Firstname:</label>
            <div class="col-sm-10">
                <input type="text" id="fname" class="form-control" value="{{user.firstname}}" disabled readonly>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="lname" class="form-label col-sm-2">Lastname:</label>
            <div class="col-sm-10">
                <input type="text" id="lname" class="form-control" value="{{user.lastname}}" disabled readonly>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="mail" class="form-label col-sm-2">Email:</label>
            <div class="col-sm-10">
                <input type="email" id="mail" class="form-control" value="{{user.email}}" disabled readonly>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="pwd" class="form-label col-sm-2">Password</label>
            <div class="col-sm-10">
                <input type="password" id="pwd" class="form-control" value="{{user.password}}" disabled readonly>
            </div>
        </div>
    </form>
</div>
