<nav class="navbar navbar-light bg-lightpeek">
    <div class="container-fluid">
        <h1 class="text-primary"></h1>
        <div class="d-flex">
            <a routerLink="/users/profiles" class="text-light" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <button type="button" class="btn btn-primary mx-3">See profiles</button>
            </a>
           
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModal" (click)="onAdd()">Add User</button>
        </div>
        <h2></h2>
    </div>
</nav>
<table class="table mt-3 table-striped">
    <thead class="table-primary">
        <tr>
            <th scope="col" >ID</th>
            <th scope="col" >Firstname</th>
            <th scope="col" >Lastname</th>
            <th scope="col" >Email</th>
            <th scope="col" >Action</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let user of users | filter:searchKey">
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>
                    <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#addModal" (click)="onEdit(user)">Edit</button>
                    <button class="btn btn-danger mx-3"  (click)="deleteUser(user.id)">Delete</button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
<div class="modal" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 *ngIf="showAddButton" class="modal-title">Add new User</h4>
                <h4 *ngIf="showUpdateButton" class="modal-title">Update User</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="mt-3 mb-3">
                        <label for="fname" class="form-label">Firstname:</label>
                        <input type="text" formControlName="firstname" id="fname" class="form-control" placeholder="Enter first name" ng-required="true" [class.is-invalid] = "firstname?.invalid && firstname?.touched">
                        <div *ngIf="(firstname?.invalid && firstname?.touched) || firstname?.dirty">
                            <small *ngIf="firstname?.errors?.['required']" class="text-danger">Firstname is required
                            </small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="lname" class="form-label">Lastname:</label>
                        <input type="text" formControlName="lastname" id="lname" class="form-control" placeholder="Enter last name" [class.is-invalid] = "lastname?.invalid && lastname?.touched">
                        <div *ngIf="(lastname?.invalid && lastname?.touched) || lastname?.dirty">
                            <small *ngIf="lastname?.errors?.['required']" class="text-danger">Lastname is required
                            </small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="mail" class="form-label">Email:</label>
                        <input type="email" formControlName="email" id="mail" class="form-control" placeholder="Enter user email" [class.is-invalid] = "email?.invalid && email?.touched">
                        <div *ngIf="(email?.invalid && email?.touched) || email?.dirty">
                            <small *ngIf="email?.errors?.['required']" class="text-danger">Email is required</small>
                            <small *ngIf="email?.errors?.['pattern']" class="text-danger">Please provide a valid email address</small>
                          </div>
                    </div>
                    <div class="mb-3">
                        <label for="pwd" class="form-label">Password</label>
                        <input type="password" formControlName="password" id="pwd" class="form-control" placeholder="Enter password" [class.is-invalid]="email?.invalid && email?.touched">
                        <div *ngIf="(password?.invalid && password?.touched) || password?.dirty">
                            <small *ngIf="password?.errors?.['required']" class="text-danger">Password is required</small>
                            <small *ngIf="password?.errors?.['minlength']" class="text-danger">At least 8 characters</small>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="close">Fermer</button>
                <button *ngIf="showAddButton" type="submit" class="btn btn-primary mx-3" (click)="postUserDetails()" [disabled]="form.invalid">Add</button>
                <button *ngIf="showUpdateButton" type="submit" class="btn btn-primary mx-3" (click)="updateUserDetails()" >Update</button>
            </div>
        </div>
    </div>
</div>
